DirectoryIndex /blog/public/index.php
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.+) $1 [L]

RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
RewriteRule ^(.+) /blog/public/$1 [L]

Options +SymLinksIfOwnerMatch
RewriteRule ^(.*)$ /blog/public/ [QSA,L]