div.input-group select.form-control {
    height: 32px !important;
}

ul.navbar-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}
ul.navbar-nav li{
   margin: 0 1rem;
}

ul.navbar-right{
    width: 30%;
}

.margin-top{
    margin-top: 1.5rem;
    width: 64%;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
}
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
div.container {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}
